@import "tailwindcss";

body {
  font-family:'Times New Roman', Times, serif;
}

.wheel {
  background-color: black;
  width: 17vw;
  height: 65vh;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.blackBox {
    width: 25vw;
    height: 85vh;
}